@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Alata&family=Alatsi&family=Outfit:wght@100..900&family=Shippori+Antique&family=Shippori+Antique+B1&display=swap');
* {
  font-family: "Outfit", sans-serif;
}

.body {

}

.bg {
  background: linear-gradient(to left, white 50%, #fa7c02 50%);
  height: 100vh;
}

.title {
  font-family: "Outfit", sans-serif;
  font-weight: 800;
  margin-left: 11%;
  margin-top: 12%;
  margin-bottom: -100px;

}


.mask1 {
  background: url('../public/vangogh/va.png') no-repeat center center;
  background-size: cover;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  color: transparent;
  font-size: 25rem; 
  font-weight: 900;
}

.mask2 {
  background: url('../public/vangogh/ngo.png') no-repeat center center;
  background-size: cover;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  color: transparent;
  font-size: 25rem; 
  font-weight: 900;
}

.mask3 {
  background: url('../public/vangogh/gh.png') no-repeat center center;
  background-size: cover;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  color: transparent;
  font-size: 25rem; 
  font-weight: 900;
}

@keyframes slideUp {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-50px);
  }
}

.hover\:slide-up:hover {
  animation: slideUp 0.5s forwards;
}

.custom-border {
  border-right-width: 20px;
  border-bottom-width: 20px;
}


.custom-button {
  margin-top: 80px;
  margin-left: -150px;
 
}

.between-space {
  margin-top: 700px;
}

.p1 {
  transform: translateX(25rem);
  margin-top: 20px;
}

.p4 {
  transform: translateX(50px);
  margin-top: 70px;
}

.p3 {
  transform: translateX(53rem);
  margin-top: 170px;
}

.p2 {
  transform: translateX(20rem);
  margin-top: 350px;
}

.post-layer {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: 250px;
  margin-left: -350px;
}

.r1 {
  transform: translateX(15rem);
  margin-top: 15px;
}

.r2 {
  transform: translateX(35rem);
  margin-top: 60px;
}

.r3 {
  transform: translateX(18rem);
  margin-top: 425px;
}

.r4 {
  transform: translateX(50rem);
  margin-top: 400px;
}

.real-layer {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: 250px;
  margin-left: -180px;
  padding: 110px;
}